.TextField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .TextField__Container {
        background-color: var(--bg-100);
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid var(--fg-100);

        input {
            width: 100%;
            background-color: transparent;
            color: var(--fg);
            border: none;
            outline: none;
            font-family: var(--ff);
        }
        svg path {
            stroke: var(--fg-100);
        }
    }

    .TextField__Hint {
        color: var(--fg-100);
        .TextField__Hint__Error {
            display: flex;
            align-items: start;
            gap: 4px;
            margin-bottom: 4px;
            color: var(--err);
        }
        svg {
            $size: 14px;
            min-width: $size;
            height: $size;
            margin-top: 2px;
        }
    }
}

// Sizing
.TextField {
    /*
        - Small
        -- Top/Bottom: 8px
        -- Left/Right: 16px
        -- Spacing between content: 16px

        - Medium
        -- Top/Bottom: 12px
        -- Left/Right: 16px
        -- Spacing between content: 16px

        - Large
        -- Top/Bottom: 16px
        -- Left/Right: 16px
        -- Spacing between content: 16px
    */
    &.sm {
        .TextField__Label {
            font-size: 0.875rem;
        }
        .TextField__Container {
            padding: 0.5rem 1rem;
            input {
                font-size: 0.875rem;
            }
            svg {
                $size: 1.25rem;
                min-width: $size;
                height: $size;
            }
        }
        .TextField__Hint {
            font-size: 0.875rem;
        }
    }

    &.md {
        .TextField__Label {
            font-size: 0.875rem;
        }
        .TextField__Container {
            padding: 0.75rem 1rem;
            svg {
                $size: 1.5rem;
                min-width: $size;
                height: $size;
            }
            input {
                font-size: 1rem;
            }
        }
        .TextField__Hint {
            font-size: 0.875rem;
        }
    }

    &.lg {
        .TextField__Label {
            font-size: 1.125rem;
        }
        .TextField__Container {
            padding: 1rem;
            svg {
                $size: 1.75rem;
                min-width: $size;
                height: $size;
            }
            input {
                font-size: 1.125rem;
            }
        }
        .TextField__Hint {
            font-size: 0.875rem;
        }
    }
}

// States
.TextField {
    &.disabled {
        .TextField__Label,
        .TextField__Container,
        .TextField__Hint {
            color: var(--fg-100);
        }
        .TextField__Container,
        input {
            cursor: not-allowed;
        }
    }
    &.error {
        .TextField__Container {
            border: 1px solid var(--err);
        }
    }
}
